@import '../../assets/SCSS/variables.scss';

#Canvas {
    height: 100%;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    margin: auto;
}

div.keyRow  {
    margin: auto;
    display: block;
    width: 90%;
    overflow: hidden;

    .keyItem {
        display: inline-block;
        width: 50%;
    }
    .keyColor {
        width: 30px;
        height: 30px;
        float: left;
        /*border-radius: $borderRadius*/;
    }
    label {
        float: left;
        font-weight: bold;
        padding: 10px;
    }
}

