<div class="frame">
  <div class="frameTitle" id="loginBanner">
    <h2>Login</h2>
  </div>
  <form #loginForm="ngForm">
    <div class="inputLine">
      <input placeholder="Username" #userName />
    </div>
    <div class="inputLine">
      <input type="password" placeholder="Password" #password />
    </div>
    <div class="inputLine">
      <label *ngIf="warningMessage" class="warning">** {{warningMessage}}</label>
    </div>
    <div class="inputLine">
      <button (click)="login(userName.value, password.value)">OK</button>
    </div>
  </form>
</div>

<div class="frame information">
  <p>
    There are currently two users defined: 'harbow' and 'garcor'.  The password for both
    users is 'password'.  Once on the main page, clicking on the subheaders for the master
    budget on the left (Bills, Utilities, etc) will update the chart on the right to reflect
    the individual payments for that subheader.  Hovering over (or a long press on a phone) 
    the payments or income for a specific day in the calendar will provide a breakdown of what
    payments go into that total.
  </p>
  <p>
    Any income or payment items may be scheduled for multiple dates (Groceries, for example
    might be scheduled for th 1st, 8th, 15th, 22nd, and 29th).  In that case, the amounts
    used for the Calendar calculations have the full amount in the master budget evenly
    divided among all of the dates.  So if the user has defined $1000 for Groceries to be
    paied on those five dates, each day will have $200 added to 'Payments' for Groceries.
  </p>
  <p>
    Additional features and functionality will be coming soon including
    new account setup, data entry (with data being stored in a MySQL database and accessed
    through a RESTful PHP service), secure login using authentication tokens, and general data entry.
  </p>
</div>

