<div class="frame main" >
  <div class="banner">
    <h1>Monthly Budget</h1>
    <h3>{{month}}</h3>
    <nav>
    </nav>
  </div>
  <div class="content">
    <div class="panel leftPanel">
      <div class="frame content left">
        <app-master-budget 
          [currentUser]="currentUser"
          [categories]="categories"
          [paymentItems]="paymentItems"
          [allCategoryPayments]="allCategoryPayments"
          [incomes]="incomes"
          [incomeTotal]="incomeTotal"
          [paymentTotal]="paymentTotal"
          (changeChart)="updateChart($event)">
        </app-master-budget>
      </div>
    </div>
    <div class="panel rightPanel">
      <div class="frame content right">
        <app-pie-chart 
          [chartData]="chartData"
          [title]="rightFrameTitle">
        </app-pie-chart>
      </div>
    </div>
  </div>
</div>