<div class="frame main" >
  <div class="banner">
    <h1>Monthly Budget</h1>
    <h3>{{month}}</h3>
    <nav>
      <a href="/input">input</a>
    </nav>
  </div>
  <div class="panel leftPanel">
    <div class="frame content left">
      <app-master-budget [currentUser]="currentUser"
                         [categories]="categories"
                         [paymentItems]="paymentItems"
                         [allCategoryPayments]="allCategoryPayments"
                         [incomes]="incomes"
                         [incomeTotal]="incomeTotal"
                         [paymentTotal]="paymentTotal">
      </app-master-budget>
    </div>
  </div>
  <div class="panel rightPanel">
    <div class="frame content right">
      This is the right panel
    </div>
  </div>
</div>