<div class="frame main" >
  <div class="banner">
    <h1>Monthly Budget</h1>
    <h3>{{month}}</h3>
  </div>
<div class="menu">
    <nav>
      <ul>
        <li>
          <div *ngIf="rightPanel !== 'calendar'" class="frame" (click)="rightPanel = 'calendar'">
            Calendar
          </div>
        </li>
        <li>
          <div *ngIf="rightPanel !== 'pieChart'" class="frame" (click)="rightPanel = 'pieChart'">
            Pie Chart
          </div>
        </li>
      </ul>
    </nav>
</div>
  <div class="content">
    <div class="panel leftPanel">
      <div class="frame content left">
        <app-master-budget 
          [currentUser]="currentUser"
          [categories]="categories"
          [paymentItems]="paymentItems"
          [allCategoryPayments]="allCategoryPayments"
          [incomes]="incomes"
          [incomeTotal]="incomeTotal"
          [paymentTotal]="paymentTotal"
          (changeChart)="updateChart($event)">
        </app-master-budget>
      </div>
    </div>
    <div class="panel rightPanel">
      <div class="frame content right">
        <app-pie-chart *ngIf="rightPanel === 'pieChart'"
          [chartData]="chartData"
          [title]="rightFrameTitle">
        </app-pie-chart>
        <app-calendar *ngIf="rightPanel === 'calendar'"
          [calendarData]="calendarData">
        </app-calendar>
      </div>
    </div>
  </div>
</div>